{% extends "base.html" %}

{% block title %}Inscription — Eden Food{% endblock %}

{% block content %}
<div class="form-wrap container">
    <h2>Créer un compte</h2>
    <form action="{{ url_for('signup')}}" method="POST" class="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label>
            Nom complet
            <input type="text" name="name" required>
        </label>

        <label>
            Email
            <input type="email" name="email" required>
        </label>

        <label>
            Mot de passe
            <input type="password" name="password" required>
        </label>

        

        <button type="submit" class="btn">S'inscrire</button>
    </form>
    <p class="muted">Déjà inscrit ? <a href="{{ url_for('login') }}">Se connecter</a></p>
</div>
{% endblock %}
